@{
    ViewData["Title"] = "Get Countries From RESTCountries API";
}

<div class="text-center">
    <button><a class="navbar-brand" asp-area="" asp-controller="Country" asp-action="Index">Click here to Download COUNTRIES.XLSX</a></button>
    
</div>
